.about-us{
   width: 100%;
   padding:4rem;
   margin: 4rem auto;
   position: relative;
   display: grid;
   grid-template-columns: 2fr 1fr;
   background-color: $white;
   z-index: -2;

   
   &__content{
      position: relative;
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-items: left;
      text-align:justify;
      
      .section__subtitle--about{ 
         margin-top: 1.5rem;
      }

      p {
         font-size: 1.2rem;
         color: $black;
      }
   }
   
   &__img{
      width: 100%;
      height: 100%;
      position: relative;
      background: url('../assets/img/about.jpg') no-repeat center center;
      background-size: cover;
      z-index: -2;

      .img{
         width: 100%;
      }

      &:after{
         position: absolute;
         top: 0;
         right: 0;
         content: '';
         width: 100%;
         height: 100%;
         background: rgba($orange,.4);
         z-index: -1;
      }
   }
}

@include table{
   .about-us{
      width: 95%;
      padding:1rem .5rem 1rem 1rem;

      grid-template-columns: 1fr;
      &__content{
         .section__title--about{
            margin-bottom: 1rem;
         }

         p {
            font-size: 1rem;
         }
   
      }
      &__img{
         display: none;
      }
   }
}