*, *::before, *::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: $fs-base;
   font-family: $ff-body;
   scroll-behavior: smooth;
}

body{
   position: relative;
   width: 100%;
   background:$blue;
   color: $white;
}

img{
   width: 100%;
   display: block;
}

h1, h2, h3 {
   font-family: $ff-title;
}

p{
   line-height: 1.5em;
   padding-right: 1rem;
   padding-top: 1rem;
}

a { 
   text-decoration: none;
   color: $white;
}

.section__title{
   position: relative;
   color: $orange;
   font-size: clamp(1rem, 8vw, 5rem);
   font-weight: normal;
   text-transform: uppercase;
   text-align:left;
   margin-bottom: 0;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30%;
      border-bottom: 3px solid $orange;
   }
}

.section__subtitle{
   position: relative;
   color: $orange;
   font-size: clamp(1rem, 5vw, 3rem);
   font-weight: normal;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

// @include phone{
//    .section__title{
//       font-size: 3rem;
//    }

//    .section__subtitle{
//       font-size: 1.5rem;
//    }
// }