.contact{
   width: 100%;
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
   min-height: 100vh;
   margin: 4rem auto 0;
   padding:5rem;

   background: url(../assets/img/contact.jpg) no-repeat center center;
   background-size: cover; 

   &::after{ // la capa sobre la image
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba($blue,.7);
   }

   &__titles{
      width: 100%;
      z-index: 100;
      margin-top: 5rem;
      padding-left: 1rem;
   }

   .social-list {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 2rem 0 0;
      padding: 0;

      &__item {
         margin: 0 .5rem;
      }

      &__link {
         padding: .5rem;
      }

      &__link:hover,
      .social-list__link:hover {
         color: $orange;
      }
   
   }

   .section__title--contact,
   .section__subtitle--contact{
      color: $white;
      line-height: 1.3;

      &::after {
         border-bottom: 3px solid $white;
      }
   }

   .section__title--contact{
      font-size: 2.5rem;
   }
   .section__subtitle--contact{
      font-size: 1.5rem;
   }
   
   &__form{
      width: 90%;
      min-height: 500px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 0.5rem;
      box-shadow: .2rem .5rem .5rem rgba($orange, .5);
      padding: 2rem; 
      z-index: 100;
      
      .form-title{
         text-transform: capitalize;
         width: 100%;
         font-size: 2.5rem;
         text-align: center;
      }

      input{
         width: 100%;
         background: $white;
      
         padding: .5rem;
         margin-bottom: 1rem;

         outline: none;
         border: none;
      }

      .form-textarea{
         z-index: 100;
         min-height: 100px;
         max-height: 200px;
         min-width: 90%;
         max-width: 90%;
         background:$white;
         margin-bottom: 1rem;
      }

      .btn{
         width: 100px;
         padding: .5rem 1rem;
         z-index: 100;
         cursor: pointer;

         &:hover{
            background: $orange;
            color: $white;
         }
      }
   }
}

@include phone{
   .contact{
      .section__title--contact{
         font-size: 2.5rem;
      }
   }
}