.main-header{
   position: fixed;
   width: 100vw;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 8vw;
   z-index: 300;
   @include easeOut;

   @include phone {
      padding: 0 4vw;
   }

   .logo{
      z-index: 1000;
      width: 90px;
   }

   .nav-contact {
      z-index: 1000;
      position: relative;

      @include phone {
         display: none;
      }

      &::after {
         content: '';
         height: 2px;
         background-color: $white;
         width: 90%;
         position: absolute;
         bottom: -5px;
         left: 0;
      }
   }
   
   .nav-links{
      height: 100vh;
      width: 100vw;
      position: absolute;
      padding: 10rem 0;
      top: 0;
      left: 0;
      
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      
      transform: translate(-100%);
      list-style: none;
      opacity: 0;
      @include easeOut; 

      .nav-link{
         width: 50%;
         font-size: 2rem;
         opacity: 0;
         padding: 1.52rem;
         text-align: center;
         @include easeOut;

         &:hover,
         &.active {
            background: rgba($blue ,.9);
            color: $white ;
         }

         &::before,
         &::after{
            content: '';
            background: $white;
            width: 100%;
            height: 3px;
            position: absolute;
            z-index: 400;
            @include easeOut;
         }
            
         &::before{
            top: 0;
            left: 0;
            transform-origin: right;
            transform: scale(0);
            @include easeOut;
         }
            
         &:after{
            bottom: 0;
            right: 0;
            z-index: 1;
            transform-origin: left;
            transform: scale(0);
            @include easeOut;
         }

         &:hover:before{
            transform: scale(1);
            transform-origin: left;
            @include easeOut;
         }

         &.active:before,
         &.active:after{
            transform: scale(1);
            @include easeOut;
         }

         &:hover:after{
            transform: scale(1);
            @include easeOut;
         }
      }
   }
   
   .menu-icon{
      position: relative;
      padding:26px 10px;
      cursor: pointer;
      z-index: 300;

      display: flex;
      align-items: center;

      &__line{
         display: block;
         position: relative;
         background: $white;
         height: 2px;
         width: 25px;
         border-radius: 4px;
         margin-right: 1rem;

         &::before, &::after{
            content: '';
            position: absolute;
            height: 100%;
            border-radius: 4px;
            background: $white;
            @include easeOut;
         }
         
         &::before{
            transform: translateY(-7px);
            width: 125%;
         }
         
         &::after{
            transform: translateY(7px);
            width: 75%;
         }
      }
   }

   .menu-btn{
      position: absolute;
      top: -100px;
   }

   &.scrolled{
      background: rgba($orange, 1);
      @include easeOut;
   }

   .menu-btn:checked ~ .nav-links{
      display: flex;
      opacity: 1;
      background-color: rgba($orange,.9);

      transform: translateX(0);
      @include easeOut;

      .nav-link{
         opacity: 1;
         transform: translateX(0);
         @include easeOut;

         &:nth-of-type(2){
            transition-delay: .4s;
         }

         &:nth-of-type(3){
            transition-delay: .6s;
         }
      
         &:nth-of-type(4){
            transition-delay: 1s;
         }
      }
   }

   .menu-btn:checked ~ .menu-icon {
      .menu-icon__line::before{
         width: 75%;
      }
      
      .menu-icon__line::after{
         width: 125%;
      }
   }
}