.main-hero{
   position: relative;
   padding: 80px 8vw;
   .hero{
      min-height: calc(100vh - 160px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      @include table {
         justify-content: center;
         flex-direction: column;
      }

      &__content {
         width: 100%;
         max-width: 850px;
 
         @include table {
            margin-bottom: 80px;
         }
      }

      .section__title--hero{
         width: 100%;
         position: relative;
         font-size: clamp(1rem, 8vw, 5rem);
         line-height: 1.5;
         text-align: left;
         z-index: 100;
         color: $white;
         margin-right: 2rem;
      }

      .section__subtitle--hero{
         position: relative;
         text-align: left;
         color: rgba($white,.6);
         font-size: 2rem;
         font-weight: normal;
         margin-top: 1rem;
         z-index: 100;
         
         span {
            color: rgba($white,1);
         }

         @include table {
            font-size: 1.4rem;
         }
      }

      &__button {
         flex-shrink: 0;
         width: 200px;
         height: 200px;
         padding: 0 1.5rem;
         background-color: $orange;
         border-radius: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         @include table {
            width: 170px;
            height: 170px;
         }
 
         a {
            font-size: 2rem;
            background-color: transparent;
            color: $black;
            text-align: center;
            cursor: pointer;
            border: none;
            
            @include table {
               font-size: 1.6rem;
            }
            &:hover {
               color: $white;
            }
         }
      }
   }
   
   .social-list {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      margin: 0 0 60px;
      padding: 0 10vw;
      
      @include table {
         margin-top: 2rem;
         justify-content: center;
      }
      
      &__item {
         width: 50px;
         height: 50px;
         padding: 0.25rem;
         margin: 0 .5rem;
         
         border: 1px solid $white;
         border-radius: 50%;
         
         display: flex;
         justify-content: center;
         align-items: center;

         &:hover {
            background-color: $orange;
         }
      }
      
      &__link {
         padding: .5rem;
      }
   }
}