@mixin easeOut {
   transition: all .3s ease-out;
}

@mixin phone  {@media screen and (max-width: 600px)  {@content;}}
@mixin table  {@media screen and (max-width: 767px)  {@content;}}
@mixin laptop {@media screen and (min-width: 1001px)  {@content;}}
@mixin desktop{@media screen and (min-width: 1200px) {@content;}}