@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255, 101, 8, 0.7);
    background: rgba(255, 101, 8, 0.7);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 101, 8, 0);
    background: rgba(255, 101, 8, 0);
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closeTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closeMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes closeBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  background: #1335F2;
  color: #FCF7FF;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.5em;
  padding-right: 1rem;
  padding-top: 1rem;
}

a {
  text-decoration: none;
  color: #FCF7FF;
}

.section__title {
  position: relative;
  color: #F25D27;
  font-size: clamp(1rem, 8vw, 5rem);
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0;
}

.section__title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  border-bottom: 3px solid #F25D27;
}

.section__subtitle {
  position: relative;
  color: #F25D27;
  font-size: clamp(1rem, 5vw, 3rem);
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #1335F2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 300px;
}

.disppear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.main-hero {
  position: relative;
  padding: 60px 8vw;
}

.main-hero .hero {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main-hero .hero {
    justify-content: center;
    flex-direction: column;
  }
}

.main-hero .hero__content {
  width: 100%;
  max-width: 850px;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .main-hero .hero__content {
    margin-bottom: 60px;
  }
}

.main-hero .hero .section__title--hero {
  width: 100%;
  position: relative;
  font-size: clamp(1rem, 8vw, 5rem);
  line-height: 1.5;
  text-align: left;
  padding: 2rem 0;
  z-index: 100;
  color: #FCF7FF;
  margin-right: 2rem;
}

.main-hero .hero .section__subtitle--hero {
  position: relative;
  text-align: left;
  color: rgba(252, 247, 255, 0.6);
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1rem;
  z-index: 100;
}

.main-hero .hero .section__subtitle--hero span {
  color: #fcf7ff;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .main-hero .hero .section__subtitle--hero {
    font-size: 1.4rem;
  }
}

.main-hero .hero__button {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  padding: 0 1.5rem;
  background-color: #F25D27;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main-hero .hero__button {
    width: 180px;
    height: 180px;
  }
}

.main-hero .hero__button:hover {
  transform: scale(0.95);
}

.main-hero .hero__button a {
  font-size: 2rem;
  background-color: transparent;
  color: #0E0C17;
  text-align: center;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 767px) {
  .main-hero .hero__button a {
    font-size: 1.6rem;
  }
}

.main-hero .hero__button a:hover {
  color: #FCF7FF;
}

.main-hero .social-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 60px;
  padding: 0 10vw;
}

@media screen and (max-width: 767px) {
  .main-hero .social-list {
    margin-top: 2rem;
    justify-content: center;
  }
}

.main-hero .social-list__item {
  width: 50px;
  height: 50px;
  border: 1px solid #FCF7FF;
  border-radius: 50%;
  padding: 0.25rem;
  margin: 0 .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hero .social-list__item:hover {
  background-color: #F25D27;
}

.main-hero .social-list__link {
  padding: .5rem;
}

.main-header {
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  z-index: 300;
  transition: all .3s ease-out;
}

@media screen and (max-width: 600px) {
  .main-header {
    padding: 0 4vw;
  }
}

.main-header .logo {
  z-index: 1000;
  width: 100px;
}

.main-header .nav-contact {
  z-index: 1000;
  position: relative;
}

@media screen and (max-width: 600px) {
  .main-header .nav-contact {
    display: none;
  }
}

.main-header .nav-contact::after {
  content: '';
  height: 2px;
  background-color: #FCF7FF;
  width: 90%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.main-header .nav-links {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  list-style: none;
  opacity: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10rem 0;
  transition: all .3s ease-out;
}

.main-header .nav-links .nav-link {
  width: 50%;
  font-size: 2rem;
  opacity: 0;
  padding: 1.52rem;
  text-align: center;
  transition: all .3s ease-out;
}

.main-header .nav-links .nav-link:hover, .main-header .nav-links .nav-link.active {
  background: rgba(19, 53, 242, 0.9);
  color: #FCF7FF;
}

.main-header .nav-links .nav-link::before, .main-header .nav-links .nav-link::after {
  content: '';
  background: #FCF7FF;
  width: 100%;
  height: 3px;
  position: absolute;
  z-index: 400;
  transition: all .3s ease-out;
}

.main-header .nav-links .nav-link::before {
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scale(0);
  transition: all .3s ease-out;
}

.main-header .nav-links .nav-link:after {
  bottom: 0;
  right: 0;
  z-index: 1;
  transform-origin: left;
  transform: scale(0);
  transition: all .3s ease-out;
}

.main-header .nav-links .nav-link:hover:before {
  transform: scale(1);
  transform-origin: left;
  transition: all .3s ease-out;
}

.main-header .nav-links .nav-link.active:before, .main-header .nav-links .nav-link.active:after {
  transform: scale(1);
  transition: all .3s ease-out;
}

.main-header .nav-links .nav-link:hover:after {
  transform: scale(1);
  transition: all .3s ease-out;
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 300;
  display: flex;
  align-items: center;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #FCF7FF;
  height: 2px;
  width: 25px;
  border-radius: 4px;
  margin-right: 1rem;
}

.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: '';
  position: absolute;
  height: 100%;
  border-radius: 4px;
  background: #FCF7FF;
  transition: all .3s ease-out;
}

.main-header .menu-icon__line::before {
  transform: translateY(-7px);
  width: 125%;
}

.main-header .menu-icon__line::after {
  transform: translateY(7px);
  width: 75%;
}

.main-header .menu-btn {
  position: absolute;
  top: -100px;
}

.main-header.scrolled {
  background: #f25d27;
  transition: all .3s ease-out;
}

.main-header .menu-btn:checked ~ .nav-links {
  display: flex;
  opacity: 1;
  background-color: rgba(242, 93, 39, 0.9);
  transform: translateX(0);
  transition: all .3s ease-out;
}

.main-header .menu-btn:checked ~ .nav-links .nav-link {
  opacity: 1;
  transform: translateX(0);
  transition: all .3s ease-out;
}

.main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
  transition-delay: .2s;
}

.main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
  transition-delay: .4s;
}

.main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
  transition-delay: .6s;
}

.main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
  width: 75%;
}

.main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
  width: 125%;
}

.about-us {
  width: 100%;
  padding: 4rem;
  margin: 4rem auto;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #FCF7FF;
  z-index: -2;
}

.about-us__content {
  position: relative;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: left;
  text-align: justify;
}

.about-us__content .section__subtitle--about {
  margin-top: 1.5rem;
}

.about-us__content p {
  font-size: 1.2rem;
  color: #0E0C17;
}

.about-us__img {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../assets/img/ilustrations/about.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

.about-us__img .img {
  width: 100%;
}

.about-us__img:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(242, 93, 39, 0.4);
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .about-us {
    width: 95%;
    padding: 1rem .5rem 1rem 1rem;
    grid-template-columns: 1fr;
  }
  .about-us__content .section__title--about {
    margin-bottom: 1rem;
  }
  .about-us__content p {
    font-size: 1rem;
  }
  .about-us__img {
    display: none;
  }
}

.our-services {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 4rem 1rem;
  margin: 4rem auto;
}

.our-services__content {
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: left;
  text-align: justify;
}

.our-services .section__title--services {
  color: #FCF7FF;
}

.our-services .section__title--services::after {
  border-bottom: 3px solid #FCF7FF;
}

.our-services .grid-process {
  position: relative;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: .5rem;
  row-gap: 3rem;
  text-align: justify;
}

.our-services .grid-process__info {
  position: relative;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 450px;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.our-services .grid-process__info .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 2s ease-in-out;
  transform: perspective(500px) rotateY(0);
}

.our-services .grid-process__info .face.front {
  background-color: #FCF7FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.our-services .grid-process__info .face.front img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.our-services .grid-process__info .face.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0E0C17;
  transform: perspective(500px) rotateY(180deg);
}

.our-services .grid-process__info:hover .face.front {
  transform: perspective(500px) rotateY(180deg);
}

.our-services .grid-process__info:hover .face.back {
  transform: perspective(500px) rotateY(360deg);
}

.our-services .grid-process__info .process-title {
  color: #F25D27;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  transform: perspective(500px) translateZ(50px);
  margin-bottom: .2rem;
}

.grid-services {
  position: relative;
  margin-top: 5rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.grid-services img {
  width: 100px;
  height: 100px;
}

.grid-services .services-container {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2px;
}

.grid-services .services-container .services-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.grid-services .services-container .services-cards:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FCF7FF;
  border-radius: 20px;
  z-index: -200;
  pointer-events: none;
}

.grid-services .services-container .services-cards__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-services .services-container .services-cards__img .cards__title {
  margin: 1rem 0 0;
  padding: 0;
  color: #F25D27;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
}

.grid-services .services-container .services-cards .capa {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 5px rgba(242, 93, 39, 0.5);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.grid-services .services-container .services-cards .capa:before {
  content: 'Leer';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #F25D27;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  transition-delay: 0.5s;
}

.grid-services .services-container .services-cards .capa:hover {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  opacity: .9;
  border-radius: 0;
}

.grid-services .services-container .services-cards .capa:hover ~ .capa-content {
  opacity: 1;
  visibility: visible;
  border-radius: 20px;
  transition-delay: 0.3s;
  transition: .5;
}

.grid-services .services-container .services-cards .capa:hover:before {
  display: none;
  transition-delay: .6s;
}

.grid-services .services-container .services-cards .capa-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  pointer-events: none;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  color: #FCF7FF;
  background: #0E0C17;
  text-align: justify;
}

.grid-services .services-container .services-cards .capa-content__title {
  margin-bottom: 1rem;
  color: #F25D27;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
}

.grid-services .services-container .services-cards .capa-content__p {
  padding: 10px;
  font-size: 1rem;
}

@media screen and (min-width: 1001px) {
  .our-services {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .our-services__content .section__title--services {
    font-size: 2rem;
  }
  .our-services__content .section__subtitle--services {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.contact {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  min-height: 100vh;
  margin: 4rem auto 0;
  padding: 5rem;
  background: url("../assets/img/contact.jpg") no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .contact {
    border: 3px solid red;
    padding: 1rem;
  }
}

.contact::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 53, 242, 0.7);
}

.contact__titles {
  width: 100%;
  z-index: 100;
  margin-top: 5rem;
  padding-left: 1rem;
}

.contact .social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 0;
}

.contact .social-list__item {
  margin: 0 .5rem;
}

.contact .social-list__link {
  padding: .5rem;
}

@media screen and (max-width: 600px) {
  .contact .social-list__link {
    font-size: .7rem;
  }
}

.contact .social-list__link:hover,
.contact .social-list .social-list__link:hover {
  color: #F25D27;
}

.contact .section__title--contact,
.contact .section__subtitle--contact {
  color: #FCF7FF;
  line-height: 1.3;
}

.contact .section__title--contact::after,
.contact .section__subtitle--contact::after {
  border-bottom: 3px solid #FCF7FF;
}

.contact .section__title--contact {
  font-size: 2.5rem;
}

.contact .section__subtitle--contact {
  font-size: 1.5rem;
}

.contact__form {
  width: 95%;
  min-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(242, 93, 39, 0.5);
  padding: 1rem;
  z-index: 100;
}

.contact__form .form-title {
  text-transform: capitalize;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

.contact__form input {
  width: 100%;
  background: #FCF7FF;
  padding: .5rem;
  margin-bottom: .8rem;
  outline: none;
  border: none;
}

.contact__form .form-textarea {
  z-index: 100;
  min-height: 100px;
  max-height: 200px;
  min-width: 90%;
  max-width: 90%;
  background: #FCF7FF;
  margin-bottom: 1rem;
}

.contact__form .btn {
  width: 100px;
  padding: .5rem 1rem;
  z-index: 100;
  cursor: pointer;
}

.contact__form .btn:hover {
  background: #F25D27;
  color: #FCF7FF;
}

@media screen and (max-width: 600px) {
  .contact .section__title--contact {
    font-size: 2rem;
  }
}

.footer {
  background: #F25D27;
  font-size: 1rem;
  padding: 5rem;
}

.footer a {
  text-decoration: none;
  color: #FCF7FF;
}

.footer .social-list__link:hover {
  color: #1335F2;
}

.footer .social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 0;
}

.footer .social-list__item {
  margin: 0 .5rem;
}

.footer .social-list__link {
  padding: .5rem;
}

.footer p {
  text-align: center;
  font-size: .8rem;
  text-transform: capitalize;
}
