$blue: #1335F2;     // rgba(0, 69, 172, 1)
$orange: #F25D27;   // rgba(240, 78, 23, 1)
$white: #FCF7FF;    // rgba(252, 247, 255, 1)
$black: #0E0C17;    // rgba(14, 12, 23, 1)
$yellow: #fbe10f;    // rgba(14, 12, 23, 1)

$ff-title: 'Poppins', sans-serif; // ==>  para titulos y subtitulos de seccion
$ff-body: 'Poppins', sans-serif;; // ==> para el resto de los textos
$fw-reg: 400;
$fw-bold: 600;
$fs-base: 16px; // ==> tamaño base de texto para toda la aplicacion