@import 'config/config';
@import 'mixin/mixin';
@import 'sections/base';
@import 'sections/hero';
@import 'sections/header';
@import 'sections/about';
@import 'sections/services';
@import 'sections/contact';
@import 'sections/footer';
